body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
       
    max-width: 100ch;
    margin-inline: auto;
    padding: 1rem;
    font: 100%/1.5 system-ui;
    accent-color: var(--color-accent);
  }

html {
    --color-accent: oklch(80% 45% 850);
    accent-color: var(--color-accent);
    font-family: system-ui, sans-serif;
}

nav {
    display: flex;
    margin-bottom: 1rem;
    border-bottom: 1px solid oklch(80% 3% 200);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;

}
nav a.current {
  border-bottom: 0.4em solid oklch(85% 3% 200);
  padding-bottom: 0.1em;
  font-weight: bold;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  font-weight: bold;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}
input, textarea, button {
  font: inherit;
}
/* form label {
  display: block;
  margin-block: 0.2rem;
}
form input,
form textarea,
form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
} */

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid; 
  
}
form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}
.projects article h2{
  margin: 0;
}

h1 {
  font-size: 400%;
}
h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  text-wrap: balance;
}

html {
  color-scheme: light dark;
}

body {
  background-color: Canvas;
  color: CanvasText;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
}

html {
  color-scheme: light dark; 
}

html.light-mode {
  color-scheme: light;
}

html.dark-mode {
  color-scheme: dark;
}

.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}

#profile-stats dd {
  grid-row: 2;
  margin: 0;
}




.container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

#pie-chart {
  max-width: 25em;
  min-width: 5em;
  flex-shrink: 1;
  aspect-ratio: 1;
  flex: 0 0 auto;
}

.legend {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  min-width: 1em;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 9rem;
}

.legend em {
  font-style: italic;
  font-size: 0.85rem;
  color: gray;
}

.swatch {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: var(--color);
  border-radius: 4px;
}

